@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html{
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'PicNic';
  src: url('/fonts/PicNic.woff2') format('woff2'),
       url('/fonts/PicNic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BBBReadMe';
  src: url('/fonts/BBBReadMe-Regular.woff2') format('woff2'),
       url('/fonts/BBBReadMe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.picnic {
  font-family: 'PicNic', sans-serif;
}

.bleu {
  color: #71b15f;
}

.rouge {
  color: #bb5656;
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  font-family: 'Nata', sans-serif;
  font-size: 1em;
  margin: 0;
}

.readme {
  font-family : 'BBBReadMe', sans-serif;
}
h1{
  font-family: 'PicNic', sans-serif;
  margin: 0;
  background: linear-gradient(90deg, #0583ad, #b4cd2f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Chrome/Safari */
  background-clip: text; /* Firefox */
  color: transparent;
}

.rotateInLeft {

  animation: rotateInLeft 0.5s ease-out forwards;
}

@keyframes rotateInLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-40deg);
  }
}

.rotateOutLeft {
  animation: rotateOutLeft 0.5s ease-out forwards;
}
@keyframes rotateOutLeft {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotateInRight{
  animation: rotateIn 0.5s ease-out forwards;
}

@keyframes rotateIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(30deg);
  }
}
.rotateOutRight {
  animation: rotateOut 0.5s ease-out forwards;
}
@keyframes rotateOut {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.bouton{
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #71b15f;
  border-radius: 2em;
  padding: 0.2em 0.6em;
}

.bouton:hover{
  color: #71b15f;
  transition:  color 0.2s ease-in-out;
}

.deco-bleu{
  text-decoration-color: #71b15f;
}

.swimming{
  animation: swimming 3s ease-in-out infinite;
}

@keyframes swimming {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.plantmoving{
  animation: plantmoving 4s ease-in-out infinite;
}

@keyframes plantmoving {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg)
  }
}
